.card {
    border: 1px solid #4cae4f;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-width: 15vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(80, 40, 40, 0);
    margin-left:2vw;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.card h2 {
    color: #4cae4f;
    margin: 12px 0;
    font-size: 18px;
    text-align: center;
    font-family: inter;
}

.card p {
    margin: 0;
    font-size: 16px;
    color: #777;
}

@media (max-width: 600px) {
    .card {
        width: 90%;
    }
}