.navbar {
    width: 100%;
    padding-bottom: 1vh;
    padding-top: 1vh;
    background-color: #040714;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 0.5rem;
    margin-right: 2vw;
}

.Home-logo {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 1rem;
}

.container-logo {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.Home-logo img {
    max-width: 3rem;
    max-height: 3rem;
}

.Home-logo h2 {
    color: white;
    font-family: inter;
    font-size: 2rem;
    letter-spacing: 0.3rem;
}

/* .navbar ul li {
    
} */

.btn {
    display: flex;
    font-family: inter;
    font-weight: 600;
    font-size: 15px;
    color: #4CAE4F;
    border: 2px solid #4CAE4F ;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    gap: 0.25rem;
}

.btn span {
    font-size: 19px;
}

.btn:hover {
    background-color: #37833a;
    transition: 500ms;
}

a { 
    color: inherit;
} 
