.cards {
    display: flex;
}

.home {
    background-color: #040714;
    height: 1920px;
}

.titulos-generos-home {
    font-family: inter;
    color: white;
    margin-left: 2.5vw;
    margin-bottom:3vh ;
}

.list-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vh;
}
