.login-all {
    display: flex;
}
.error p {
    font-family: inter;
    color: red;
    margin-top: 1vh; ;
}

.error .login-sucesso {
    color: rgb(5, 189, 5);
}

.container-login-tela {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login {
    background-color: #040714;
    color: white;    
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h1 {
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 1vw;
}

.login h2 {
    font-family: inter;
    
}

.login input {
    border: none;
    padding: 1vh 1vw;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #b495e2;
    border-radius: 10px;
    background-color:#040714 ;
    color: white;
    font-family: inter;
}

.login label {
    font-family: inter;
}

.container-input {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.Login-entrar {
    border: none;
    border-radius: 8px;
    padding: 1vh 2vw;
    color: white;
    background-color: #b495e2;
    font-family: inter;
    font-size: 15px;
    cursor: pointer;
}

.container-logo-tela {
    width: 50vw;
    flex-direction: column;
    height: 100vh;
    background-color: #b495e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recanto-cinema {
    max-width: 30vw;
}

.ifb-logo {
    max-width: 10vw;
    margin-top: 5vh;
}

.login-criar {
    border: none;
    border-radius: 8px;
    margin-top: 2vh;
    padding: 2vh 4vw;
    color: white;
    font-family: inter;
    cursor: pointer;
}

@media (max-width: 800px) {
    .login-all {
        flex-direction: column;
    }
    .login {
        width: 100vw;
    }
    .container-logo-tela {
        width: 100vw;
    }
    .container-login-tela {
        width: 100vw;
    }
    form input, form button {
        width: auto;
}
}
