.movie-side {
    width: 100%;
    min-height: 100vh;
    background-color: #040714;
}

.container-info-gerais {
    display: flex;
    margin-bottom: 10px;
    margin-left: 2vw;
}

.aviso-comment {
    color: rgb(0, 199, 17);
    font-family: inter;
    margin-top: 1vh;
}


.comentarios-input input {

    margin-right: 1vw;
}

.container-info-gerais h2 {
    margin-right: 1vw;
}

.video-player {
    max-height: 30vh;
}

.video-container {
    display: flex;
    margin-left: 2vw;
}

.container-info {
    margin: 10px
}

.container-info h2 {
    color: white;
    font-family: inter;
}

.container-info h3 {
    color: white;
    font-family: inter;
    padding: 0.3vh 0.5vw;
    border: 1px solid #b495e2;
}

.container-info p {
    color: white;
    font-family: inter;
    margin-left: 2vw;
}

.comments {
    margin-right: 10px;
    margin-left: 10px;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments h2 {
    font-family: inter;
    color: white;
}

.aviso-comment-delete {
    color: red;
    font-family: inter;
    margin-top: 1vh;
}

.buttonDelete {
    cursor: pointer;
    width: 2vw;
    height: 4vh;
    background-color: #b81414;
    color: white;
    border: none;
    margin-top: 1vh;
    border-radius: 8px;
}

.comments ul {
    display: flex;
    flex-direction: column;
    width: 40vw;
    color: white;
    font-family: inter;
    font-size: 17px;
    max-height: 285px;
    overflow-y: auto;
    border: 1px solid #b495e2;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
}


.comments ul li {
    display: flex;
    flex-direction: column;
    width: 90%;
    flex-wrap: wrap;
    border: 1px solid #b495e2;
    border-radius: 4px;
    padding: 2vh 1vw;
    margin-top: 10px;

}

.comentar {
    background-color: #b495e2;
    color: white;
    font-family: inter;
    border: none;
    border-radius: 4px;
    padding: 2vh 1vw;
    margin-top: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .comments ul {
        max-height: 200px;
        width: 30vw;
        font-size: 15px;
    }

    .comentar {
        padding: 1vh 1vw;
    }
}

@media screen and (max-width: 968px) {
    .comments ul {
        width: 30vw;
        font-size: 12px;
    }

    .comentar {
        padding: 1vh 1vw;
    }
}

@media screen and (max-width: 840px) {
    .video-container {
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comments ul {
        width: 100%;
    }

    .comments {
        width: 70%;
    }

    .container-info h3 {
        margin-right: 5px;
        padding: 0;
        max-height: 30px;
    }

    .container-info h2 {
        font-size: 20px;
    }
}