.usuarios-conf {
    background-color: #040714;
    height: 1920px;
}
.usuarios-conf h2 {
    font-family: inter;
    color: white;
    margin-left: 2.5vw;
}

.usuarios-conf ul {
    margin-left: 2.5vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
}

.usuarios-conf ul li {
    border-bottom: 1px solid #4CAE4F;
    border-radius: 8px;
    display: flex;
    margin: 1vh 0vw;
    justify-content: space-between;
    width: 50%;
    height: 5vh;
    align-items: center;
}
.usuarios-conf ul li span h2 {
    color: white;
    font-family: inter;
    font-weight: 200;
    font-family: 15px;
}

.h3-simple {
    font-weight: 100 !important;
}

.usuarios-conf ul li span h3 {
    font-family: inter;
    color: white;
    font-family: inter;
    justify-self: center;
    align-self: center;
}


.usuarios-conf ul li span {
    width: 10vw;
    display: flex;
    justify-content: center;
}
.usuarios-conf ul li select {
    border: none;
    font-family: inter;
    color: white;
    border-radius: 8px;
    padding: 1vh 1vw;
    background-color: #4CAE4F;
}

.usuarios-conf ul li select option {
    font-family: inter;
}

.usuarios-conf ul li button {
    width: 5vw;
    border: none;
    font-family: inter;
    display: flex;
    color: white;
    border-radius: 8px;
    padding: 0.6vh 1vw;
    background-color: #B81414;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}