.video-save {
    background-color:#040714;
    height: 1920px;
}
.video-save h1 {
    color: white;
    font-family: inter;
    margin-left: 2vw;
    margin-bottom: 2vh;
}
.videos-salvos{
    display: flex;
    flex-wrap: wrap;
}

